body{
  font-family:Arial;
  background:#111;
  color:white;
  text-align:center;
}

/* SLIDER */
.slider-box{
  width:250px;
  margin:20px auto;
}

#slider{
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:10px;
}

/* 🔥 SKLEP - MAŁE KARTY OBOK SIEBIE */

.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:10px;
  padding:10px;
}

.card{
  width:120px;   /* 🔥 KLUCZ - małe kafelki */
  background:#222;
  padding:8px;
  border-radius:10px;
  font-size:12px;
}

.card img{
  width:100%;
  height:80px;   /* 🔥 MAŁE ZDJĘCIA */
  object-fit:cover;
  border-radius:5px;
}

/* BUTTON */
button{
  width:100%;
  margin-top:5px;
  padding:5px;
  background:orange;
  border:none;
  font-size:11px;
}

/* INPUT */
input{
  padding:6px;
  margin:3px;
  width:80px;
}
